@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --fontSyne: "Syne", sans-serif;
  --colorBlack: #222;
  --colorRed: #fd3b3b;
  --colorWhite: #fff;
  --colorRed:#fd3b3b;
  --fontSyne:var(--fontSyne);
  font-family:var(--fontSyne);
  font-family: var(--fontSyne);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1340px;
  margin: auto;
  padding-top: 40px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.hader_logo {
  width: 100%;
  max-width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hader_logo > img {
  width: 100%;
}

.header_nav {
  width: 100%;
  max-width: 369px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav > a {
  text-decoration: none;
  font-family: var(--fontSyne);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--colorBlack);
  transition: all 0.4s;
}

.header_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 206px;
 
}

.header_btn > a {
  font-family: var(--fontSyne);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: var(--colorRed);
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  color: #c71e1e;
}

.header_btn > a:hover {
  color: black;
}

.header_nav > a:hover {
  color: red;
}

.header_btn > a::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -16px;
  background-color: var(--colorBlack);
  opacity: 0.5;
}

.header_btn > button {
  width: 100%;
  max-width: 120px;
  border-radius: 32px;
  background-color:red;
  font-family: var(--fontSyne);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: var(--colorWhite);
  padding: 10.5px 26px;
  border: 2px solid var(--colorRed);
  cursor: pointer;
  transition: all 0.4s;
}

.header_btn > button:hover {
  background-color: var(--colorWhite);
  color: var(--colorRed);
}
.section_title {
  padding: 20px 0;
text-align: center;
}
.section_title h1 {
  font-family: Syne;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  margin-top: 56px;
}
.section_title p{
font-family: Syne;
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;
}
.section_baner {
 width: 100%;
 height: 400px;
}
.section_baner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.section_carCollection_main{
  padding: 15px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 30px;
}
/* .section_carCollection {
  width: 440pxpx;
  height: 113px;
  gap: 22px;
 text-align: center;
 align-items:center
} */
.section_carCollection > span {
  font-family: var(--fontSyne);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--colorBlack);
  text-align: center;
  display: block;
  text-align: center;
  align-items:center;
}
.section_carCollection > h1 {
  margin-top: 16px;
  font-size: 56px;
  line-height: 67.2px;
  color: var(--colorBlack);
  font-family: var(--fontSyne);
  text-align: center;
  font-weight: 700;
  text-align: center;
  
}
.section_carCollection_row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 30px;
}
.section_carCollection_row_col {
  width: 100%;
  max-width: 280px;
  padding: 12px 12px 24px;
  border-radius: 10px;
  background: rgba(34, 34, 34, 0.03);
}
.section_carCollection_row_col_img {
  width: 100%;
  height: 204px;
  background-color: #ffffff;
}
.section_carCollection_row_col_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section_carCollection_row_col_text {
  width: 100%;
  max-width: 936px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 48px;

  width: Hug (936px)px;
height: Hug (406px)px;
gap: 48px;
opacity: 0px;

}
.section_carCollection_row_col_text > h2 {font-family: var(--fontSyne);
  color: var(--colorBlack);
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
}
.section_carCollection_row_col_option {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section_carCollection_row_col_title > p {
  font-family: var(--fontSyne);
  color: var(--colorBlack);
  opacity: 0.5;
}
.section_carCollection_row_col_title > h3 {
  font-family: var(--fontSyne);
  color: var(--colorBlack);
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  margin-top: 5px;
}
.section_carCollection_row_col_option > button {
  width: 100%;
  max-width: 97px;
  background-color: red;
  border: 1px solid var(--colorRed);
  border-radius: 32px;
  padding: 10.5px 26px;
  font-size: 16px;
  line-height: 19.2px;
  font-family: var(--fontSyne);
  font-weight: 700;
  color: var(--colorWhite);
  cursor: pointer;
  transition: all 0.4s;
}
.section_carCollection_row_col_option > button:hover {
  background-color: transparent;
  color: var(--colorRed);
}
.section_carCollection_pagination {
  margin: auto;
  margin-top: 100px;
  width: 100%;
  max-width: 247px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21.5px;
}
.section_carCollection_pagination_item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color: rgba(19, 17, 17, 0.6);
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.section_carCollection_pagination_item1{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color:red;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.section_carCollection_pagination_item:first-of-type {
  color: var(--colorRed);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border-color: var(--colorRed);
}
.section_carCollection_pagination_item:hover {
  color:red;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border-color: var(--colorRed);
  margin-top: 2px;
  
}
.section_banner {
  width: 100%;
  max-width: 1340px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 80px 193px 80px 0;
}


/* side_bar */
.side_bar_title{
  width: 100%;
  padding: 20px;
}
.Cards_pages{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Cards_pages_item{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.Cards_pages_item h1{
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
text-align: left;
}


/*Category*/
.Categories{
  padding-top: 15px;
}
.Categories > h1{
  padding: 10px 0;
  font-size: 28px;
}
.Categories_title{
  padding: 8px 0;
display: flex;
align-items: center;
justify-content: space-between;

}
.Categories_title h1 , h2{
  font-size: 18px;
}
.Tags{
font-size: 16px;
margin-top: 24px;
font-family: var(--fontSyne);
width: 100%;
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
text-align: left;
}
.section_carCollection_pagination {
  margin: auto;
  margin-top: 100px;
  width: 100%;
  max-width: 247px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21.5px;
}
.section_carCollection_pagination_item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color: rgba(19, 17, 17, 0.6);
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.section_carCollection_pagination_item1{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color:red;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.section_carCollection_pagination_item:first-of-type {
  color: var(--colorRed);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border-color: var(--colorRed);
}
.section_carCollection_pagination_item:hover {
  color:red;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border-color: var(--colorRed);
  margin-top: 2px;
  
}


.footer_title_img{
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 border-radius:30px;
}
.footer_title_img > img {
  width: 100%;
  border-radius:30px;
  right: 100px;
  bottom:56px;
}
.footer_title{
  width: 100%;
}

/* 
.section_banner_image>img {
  width: 100%;
  height: 100%;


}

.section_banner_title {
  width: 100%;
  max-width: 418px;



} */

.footer_title>h1 {
  font-size: 56px;
  line-height: 67.2px;
  font-weight: 700;
  font-family: var(--fontSyne);
  color: var(--colorWhite);

}

.footer_title>h3 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  font-family: var(--fontSyne);
  color: var(--colorWhite);
}

footer {
  width: 100%;
  max-width: 1340px;
  margin: auto;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}.footer_sub {
  width: 100%;
  max-width: 552px;
  margin-top: 38px;
}
.footer_sub>h1 {
  font-size: 56px;
  line-height: 67.2px;
  font-weight: 700;
  font-family: var(--fontSyne);
  color: var(--colorWhite);
}
.footer_sub>p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color: rgba(34, 34, 34, 0.6);
  margin-top: 16px;
}
.footer_sub>h1{
color: #222;
}
.footer_sub>form {
  margin-top: 56px;
  display: flex;
  border: 1px solid var(--colorBlack);
  padding: 20px 32px;
  border-radius: 50px;
  justify-content: space-between;
}
.footer_sub>form>input {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--fontSyne);
  width: 100%;
  max-width: 240px;
}
.footer_sub>form>input::placeholder {
  color: rgba(34, 34, 34, 0.6);
}
.footer_sub>form>button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  max-width: 32px;
}
.footer_nav {
  width: 100%;
  max-width: 583px;
  
}
.footer_nav>p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color: var(--colorBlack);
  margin-top: 56px;
}
.footer_nav_box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer_nav_box_item > h1 {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  font-family: var(--fontSyne);
  color: var(--colorBlack);
  margin-top: 38px;
}

.footer_nav_box_item>a:first-of-type {
  margin-top: 19px;
}

.footer_nav_box_item>a {
  width: 100%;
  margin-top: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--fontSyne);
  color: var(--colorBlack);
}
.footer_button{
width: 212px;
height: 40px;
padding: 10px 26px 10px 26px;
margin-top: 10px;
border-radius: 32px 0px 0px 0px;


}

.footer_nav_box_item>a:hover {
  color: rgba(34, 34, 34, 0.6);
}
.topBtn {
  width: 36px;
  height: 36px;
  background: red;
  border-radius: 50%;
  position: sticky;
  bottom: 36px;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title{
  width: 95%;
  padding: 40px;
  height: 399px;
  background: url(../img/footer.jfif) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
    margin: 20px auto;
  border-radius: 25px;
}
.footer-title h3{

font-family: Syne;
font-size: 20px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: white;
}
.footer-title h1{
  padding: 15px 0;
font-family: Syne;
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
text-align: right;
color: white;
}
.footer-title button{
  padding: 10px;
  color: white;
  background: red;
  border: none;
  border-radius: 20px;
  font-size: 17px;
}
.topBtn {
  width: 36px;
  height: 36px;
  background: red;
  border-radius: 50%;
  position: sticky;
  bottom: 36px;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
